adventure-through-the-knight/adventure-through-the-knight/adventure-through-the-knight.csproj
adventure-through-the-knight/adventure-through-the-knight/obj/x86/Debug/adventure-through-the-knight.csproj.FileListAbsolute.txt
adventure-through-the-knight/adventure-through-the-knight/obj/x86/Debug/adventure-through-the-knight.pdb
adventure-through-the-knight/adventure-through-the-knight/obj/x86/Debug/cachefile-{0C282E53-E1EC-4B2B-8A8B-42ECED41C3A4}-targetpath.txt
